* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding-top: 70px;
  padding-bottom: 120px;
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 0.9rem;
  font-weight: 400;
  line-height: 1.6;
  color: #212529;
  background-color: #f8fafc;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.bg-dedikam {
  background-color: #141e28;
}

.text-dedikam {
  color: #74ba58 !important;
}