* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0 !important;
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    font-family: var(--bs-font-sans-serif);
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    background-color: lighten(#c9fbff, 9%) !important;
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* Bootstrap override */

.form-check-input:checked {
    background-color: $secondary-light !important;
    border-color: $secondary-light !important;
}

/* Custom */

.bg-dedikam {
    background-color: #141e28;
}

.navbar-toggler-icon {
    border-color: $primary !important;
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(116,186,88, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}

.navbar-toggler {
    border-color: $primary !important;
}

.navbar-toggler:focus {
    box-shadow: none !important;
}

.nav-link.show {
    text-align: end !important;
}

.alert {
    margin-bottom: 0 !important;
}

.justify {
    text-align: justify !important;
}

.opacityBackground {
    backdrop-filter: brightness(70%);
}

.opacityBackgroundMoreOpace {
    backdrop-filter: brightness(50%);
}

.shadowBox {
    box-shadow: 20px 20px 10px 0px rgba(0, 0, 0, 0.5) !important;
}

.bgSecondaryLight {
    background-color: #feb986 !important;
}

.borderRadiusTop {
    border-radius: 0.375rem 0.375rem 0 0 !important;
    border: 1px solid #d2d2d2;
    border-bottom: none;
}

.borderRadiusBottom {
    border-radius: 0 0 0.375rem 0.375rem !important;
}

.textSecondaryDarken {
    color: $secondary-dark;
}
