.compare-heading {
    font-size: 18px;
    font-weight: 700 !important;
    border-bottom: 0 !important;
    padding-top: 10px !important;
}

.pricing-table tfoot td.free {
    border-bottom-left-radius: 5px;
}

.comparison .qbo {
    background: #009E2C;
}

.comparison .price-info {
    padding: 5px 15px 15px;
}

.comparison .price-was {
    color: #999;
    text-decoration: line-through;
}

.comparison .price-now,
.comparison .price-now span {
    color: #ff5406;
}

// @media (max-width:767px) {
//     .comparison {
//         width: 90vw;
//         margin-right: -500px;
//     }
// }

@media (max-width:767px) {
    .comparison .row {
        background: #FFF;
    }
}

@media (max-width:767px) {
    .price-info {
        border-top: 0 !important;
    }
}

@media (max-width:639px) {
    .comparison .price-buy {
        padding: 5px 10px;
    }
}

@media (max-width:639px) {
    .comparison .hide-mobile {
        display: none;
    }
}

@media (max-width:639px) {
    .comparison .price-now span {
        font-size: 16px;
    }
}

@media (max-width:639px) {
    .compare-heading {
        font-size: 13px;
    }
}

.comparison {
    margin: 0 auto;
    font: 15px/1.4 Roboto, sans-serif;
    text-align: center;
    padding: 10px;
    color: #6e808a;
    display: flex;
    align-items: center;
    justify-content: center;
}

.comparison table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
    table-layout: fixed;
    
}

td.package-btn {
    border: 0;
    background: #fff;
    padding: 25px 0 !important;
}

.comparison td,
.comparison th {
    border: none;
    empty-cells: show;
    padding: 15px 20px;
    transition: .3s;    
}

.package-btn.pack-4,
tfoot .options {
    border-right: 0 none;
}

.package-btn.pack-1 {
    border-bottom-left-radius: 6px;
}

.n-button,
a.n-button {
    display: inline-block;
    font-size: 16px;
    line-height: 40px;
    padding: 0 30px;
    color: #fff;
    background-color: #02a1cf;
    border-radius: 99px;
}

.package-btn.pack-4 {
    border-bottom-right-radius: 6px;
}

.comparison tbody tr:nth-child(odd) {
    display: none;
}

.comparison .checked {
    background: #fff1e5;
}

// .comparison .checked i {
//     color: $secondary !important;
// }

.comparison .tickblue {
    color: #0078C1;
}

.comparison .tickgreen {
    color: #009E2C;
}

.comparison th {
    font-weight: 400;
    padding: 0;
    border-bottom: 3px solid #fff;
}

.comparison tr td {
    border: none;
}

.comparison tr td:first-child {
    text-align: left;
    border-left: none;
    border-top: none;
    border-bottom: 2px solid #fff;
    background: darken(#f8fafc, 7%);
}

.comparison tr:last-child td:first-child {
    border-bottom: none;
}

.comparison .qbo,
.comparison .qbse,
.comparison .tl {
    color: #FFF;
    padding: 10px;
    font-size: 13px;
    border-right: 1px solid #CCC;
    border-bottom: 0;
}

.comparison .tl2 {
    border-right: 0;
    color: #000;
    padding: 0;
    text-align: left;
}

.comparison td.checked.selected i,
.comparison td.selected i {
    color: #fff;
}

.comparison td.checked i {
    color: $secondary;
}

.comparison td i {
    color: #ddd;
}

.comparison th.selected,
.comparison td.selected.checked,
.comparison td.selected.col-n4 {
    background-color: $secondary  !important;
}

.comparison td.selected.col-n4 {
    color: #fff;
}

.comparison td.selected {
    background-color: $secondary-light;
}

.price-options-desc {
    background: #46647c;
    display: inline-block;
    padding: 15px 20px;
    width: 100%;
    border-top-left-radius: 6px;
    color: #fff;
    font-size: 1.2em;
}

.comparison .qbse {
    font-weight: 400;
    border: none;
    font-size: 1.1em;
    border-bottom: 2px solid #fff;
}

.table-price {
    display: block;
    font-size: 36px;
    line-height: 50px;
}

.qbse-first {
    background: $secondary-light;
}

.qbse-second {
    background: $secondary-light;
}

.qbse-third {
    background: $secondary-light;
}

.qbse-last {
    background: $secondary-light;
}

#dedicated {
    display: table-cell;
}

@media (max-width:767px) {

    .comparison td:first-child,
    .comparison th:first-child,
    #dedicated {
        display: none;
    }
}

@media (max-width:767px) {
    #dedicated-small {
        display: table-cell;
        background: #fff;
    }
}

@media (max-width:767px) {
    .comparison tbody tr:nth-child(odd) {
        display: table-row;
        background: #F7F7F7;
    }
}

@media (max-width:767px) {

    .comparison td,
    .comparison th {
        border: 1px solid #CCC;
    }
}

@media (max-width:639px) {

    .comparison td,
    .comparison th {
        padding: 10px 5px;
    }
}

@media (max-width:639px) {

    .comparison .qbo,
    .comparison .qbse {
        font-size: 12px;
        padding: 10px 5px;
    }
}

.n-button.n-button-grey.show-free-download {
    background: #556b78;
}

.n-button.n-button-purple {
    background: #632fc6;
}

.n-button.n-button-green {
    background: #3cbc10;
}

.pricing.headline.text-center {

    margin-top: 2rem;
}

tbody tr {
    background: #fff;
}

#pricing-section,
.price-header {
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#pricing-section {
    background-image: url(picingbg.jpg);
    padding: 65px 0;
}

.price-header {
    background-image: url(picingbg.jpg);
}

.pricing-sub-headline.text-center {
    // color: #a1aeb5;
    font-weight: 300;
    font-size: 18px;
    font-family: Roboto, sans-serif;
    margin-bottom: 48px;
}

.last-td {
    border-bottom-left-radius: 6px;
}

.last-tr {
    background: 0 0;
}

.last-tr td {
    background: #fff;
}

.pack-1,
.pack-2,
.pack-3,
.pack-4 {
    border: 1px solid #d4e3ed !important;
}