.pricingTable {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
        ". Basique Standard Entreprise Dedie"
        "Pydio AA AB AC AD"
        "Seafile BA BB BC BD"
        "Nextcloud CA CB CC CD"
        "ssh DA DB DC DD"
        "RSYNC EA EB EC ED"
        "SFTP FA FB FC FD"
        "FTPSFTP GA GB GC GD"
        "ISCSI HA HB HC HD"
        "CIFS IA IB IC ID"
        "Webdav JA JB JC JD"
        "SI KA KB KC KD";
    width: 320px;
}

.Pydio {
    grid-area: Pydio;
}

.Seafile {
    grid-area: Seafile;
}

.Basique {
    grid-area: Basique;
}

.Standard {
    grid-area: Standard;
}

.Entreprise {
    grid-area: Entreprise;
}

.Dedie {
    grid-area: Dedie;
}

.Nextcloud {
    grid-area: Nextcloud;
}

.ssh {
    grid-area: ssh;
}

.RSYNC {
    grid-area: RSYNC;
}

.SFTP {
    grid-area: SFTP;
}

.FTPSFTP {
    grid-area: FTPSFTP;
}

.ISCSI {
    grid-area: ISCSI;
}

.CIFS {
    grid-area: CIFS;
}

.Webdav {
    grid-area: Webdav;
}

.SI {
    grid-area: SI;
}

.AA {
    grid-area: AA;
}

.AB {
    grid-area: AB;
}

.AC {
    grid-area: AC;
}

.AD {
    grid-area: AD;
}

.BA {
    grid-area: BA;
}

.BB {
    grid-area: BB;
}

.BC {
    grid-area: BC;
}

.BD {
    grid-area: BD;
}

.CA {
    grid-area: CA;
}

.CB {
    grid-area: CB;
}

.CC {
    grid-area: CC;
}

.CD {
    grid-area: CD;
}

.DA {
    grid-area: DA;
}

.DB {
    grid-area: DB;
}

.DC {
    grid-area: DC;
}

.DD {
    grid-area: DD;
}

.EA {
    grid-area: EA;
}

.EB {
    grid-area: EB;
}

.EC {
    grid-area: EC;
}

.ED {
    grid-area: ED;
}

.FA {
    grid-area: FA;
}

.FB {
    grid-area: FB;
}

.FC {
    grid-area: FC;
}

.FD {
    grid-area: FD;
}

.GA {
    grid-area: GA;
}

.GB {
    grid-area: GB;
}

.GC {
    grid-area: GC;
}

.GD {
    grid-area: GD;
}

.HA {
    grid-area: HA;
}

.HB {
    grid-area: HB;
}

.HC {
    grid-area: HC;
}

.HD {
    grid-area: HD;
}

.IA {
    grid-area: IA;
}

.IB {
    grid-area: IB;
}

.IC {
    grid-area: IC;
}

.ID {
    grid-area: ID;
}

.JA {
    grid-area: JA;
}

.JB {
    grid-area: JB;
}

.JC {
    grid-area: JC;
}

.JD {
    grid-area: JD;
}

.KA {
    grid-area: KA;
}

.KB {
    grid-area: KB;
}

.KC {
    grid-area: KC;
}

.KD {
    grid-area: KD;
}
