// Typography
$font-family-sans-serif: "Nunito-Regular", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$primary: #74ba58;
$secondary: #fe7e20;
$info: #141e28;
$warning: #141e28;

$secondary-light: lighten($secondary, 20%);
$secondary-lighter: lighten($secondary, 30%);
